{% load static %}

<li>
    <article class='book'>
        <a href="{% url 'book-detail-page' book.slug %}">
            <img src="{% static 'images/'|add:book.image %}" alt="{{ book.title }}">
            <div class='book__content'>
                <h4>{{ book.title }}</h4>
                <h3>{{ book.author }}</h3>
                <p>
                    {{ book.annotation }}
                </p>
            </div>
        </a>
    </article>
</li>
{% comment %} 
<div class="card" style="width: 18rem;">
    <a href="{% url "post-detail-page" post.slug %}">
    <img src="{{ post.image.url }}" class="card-img-top" alt="{{ post.title }}">
    <div class="card-body">
        <h3 class="card-title">{{ post.title }}</h3>
        <p class="card-text">{{ post.excerpt }}</p>
    </div>
    </a>
</div> {% endcomment %}