{% load static %}
{% load books_extras %}

<div class="card border-white" style="max-width: 150px;">
    <a href="{% url 'book-detail-page' book.slug %}" class="text-decoration-none">
        {% if book.narrations.all|length == 1 or show_latest_narration %}
            {% include 'partials/_cover.html' with book=book image=book|book_cover_for_preview ind=0 type="small" %}
        {% else %}
            <div class="position-relative card-img-150">
            {% with scale=book|overlapping_cover_scale%}
            {% for narration in book.narrations.all %}
                {% with offset=forloop.counter|cover_offset %}
                <div class="position-absolute"
                     style="left: {{offset}}px; top: {{offset}}px; transform: scale({{scale}}); transform-origin: top left;">
                    {% include 'partials/_cover.html' with book=book image=narration.cover_image ind=forloop.counter0 type="small" %}
                </div>
                {% endwith %}
            {% endfor %}
            {% endwith %}
            </div>
        {% endif %}
    </a>
    <div class="mt-4">
        <a href="{% url 'book-detail-page' book.slug %}" class="text-decoration-none" data-test="book-title">
            <h6 class="card-title">{{ book.title }}</h6>
        </a>
        <p class="card-text author mb-0">
        {% for author in book.authors.all %}
            <a href="{% url 'person-detail-page' author.slug %}" class="text-decoration-none fw-bolder">
                {{ author.name }}{% if not forloop.last %},{% endif %}
            </a>
        {% endfor %}
        </p>
        {% if not show_latest_narration and book.narrations.all|length > 1 %}
        <span style="font-size: 0.9rem">({{ book.narrations.all|length }} агучкі)</span>
        {% endif %}
    </div>
</div>