{% load static %}
{% load books_extras %}
{% load i18n %}

{% with book=book_for_preview.book narrations=book_for_preview.narrations %}
<div class="card border-white" style="max-width: 150px;">
    <a href="{% url 'book-detail-page' book.slug %}" class="text-decoration-none">
        {% if narrations|length == 1 %}
            {% include 'partials/_cover.html' with narration=narrations.0 type="small" ind=0 %}
        {% else %}
            <div class="position-relative card-img-150">
            {% with scale=book|overlapping_cover_scale%}
            {% for narration in narrations %}
                {% with offset=forloop.counter|cover_offset %}
                <div class="position-absolute"
                     style="left: {{offset}}px; top: {{offset}}px; transform: scale({{scale}}); transform-origin: top left;">
                    {% include 'partials/_cover.html' with narration=narration type="small" ind=forloop.counter0 %}
                </div>
                {% endwith %}
            {% endfor %}
            {% endwith %}
            </div>
        {% endif %}
    </a>
    <div class="mt-4">
        <a href="{% url 'book-detail-page' book.slug %}" class="text-decoration-none" data-test="book-title">
            <h6 class="card-title">{% dtranslate book.title %}</h6>
        </a>
        <p class="card-text author mb-0">
            {% for author in book.authors.all|slice:":2" %}
                <a href="{% url 'person-detail-page' author.slug %}" class="text-decoration-none fw-bolder">
                    {% dtranslate  author.name %}{% if not forloop.last %},{% endif %}
                </a>
            {% endfor %}
            {% if book.authors.all|length > 2 %}
                <a href="{% url 'book-detail-page' book.slug %}" class="text-decoration-none fw-bolder">
                    {% translate "і інш." %}
                </a>
            {% endif %}
        </p>
        {% if narrations|length > 1 %}
        <span style="font-size: 0.9rem">({{ narrations|length }} {% translate "агучкі" %})</span>
        {% endif %}
    </div>
</div>
{% endwith %}
