{% load static %}
{% load books_extras %}

{% if image %}
    <img class="mx-auto cover-{{type}}" src="{{ image.url | resized_image:type }}" alt="{{ book.title }}"
    >
    {% cite_source image_source "cit-photo" %}
{% else %}
    <!--Custom cover for book-->
    <div class="mx-auto cover-{{type}} d-flex justify-content-center text-center flex-column"
         style="background-repeat: no-repeat;
                background-image: url({{ book | colors:ind }});
                color: black;">
        <div class="col-12 pm-2 upper-half">
            {% for author in book.authors.all %}{{ author.name }}{% endfor %}
        </div>
        <div class="separator"></div>
        <div class="col-12 lower-half pt-2">
            {{ book.title }}
        </div>
    </div>
{% endif %}