{% load static %}
{% load books_extras %}

{% if narration.cover_image %}
    <img class="mx-auto d-block cover-{{type}}"
         src="{{ narration.cover_image.url | resized_image:type }}"
         alt="{{ narration.book.title }}">
    {% if type == "large" %}
        {% cite_source narration.cover_image_source "cit-photo" %}
    {% endif %}
{% else %}
    <!--Custom cover for book-->
    <div class="mx-auto cover-{{type}} d-flex justify-content-center text-center flex-column"
         style="background-repeat: no-repeat;
                background-image: url({{ narration | colors:ind }});
                color: black;">
        <div class="col-12 pm-2 upper-half">
            {% for author in narration.book.authors.all %}{{ author.name }}{% endfor %}
        </div>
        <div class="separator"></div>
        <div class="col-12 lower-half pt-2">
            {{ narration.book.title }}
        </div>
    </div>
{% endif %}