{% load static %}

<!-- Footer -->
<footer id="footer" class="py-4 text-white text-start">
    <div class="container">
        <div class="row">
            <div class="order-0 col-12 order-sm-0 col-sm-6 py-2">
                Дасылайце вашыя пытанні і прапановы на пошту contact@audiobooks.by
            </div>
            <div class="order-2 col-12 order-sm-1 col-sm-6 py-2">
                Сачыце за апошнімі навінамі:
            </div>

            <div class="order-1 col-12 order-sm-2 col-sm-6 d-grid pe-5 py-2">
                <a class="btn btn-light" href="mailto:contact@audiobooks.by" target="_blank">
                    <img style="width: 27px; height: 19px" src="{% static 'images/Mail.png' %}" alt="email icon">
                </a>
            </div>
            <div class="order-3 col-12 order-sm-3 col-sm-6 py-2">
                <a class="me-3 me-md-5 icon" href="https://t.me/bel_audiobooks" target="_blank" aria-label="telegram">
                    <i class="bi bi-telegram"></i>
                </a>
                <a class="me-3 me-md-5 icon" href="https://www.facebook.com/groups/550095389434647" target="_blank"
                    aria-label="facebook">
                    <i class="bi bi-facebook"></i>
                </a>
                <a class="me-3 me-md-5 icon" href="https://instagram.com/audiobooks.by" target="_blank"
                    aria-label="instagram">
                    <i class="bi bi-instagram"></i>
                </a>
            </div>
        </div>
    </div>
</footer>