{% load static %}

<!-- Footer -->
<footer id="footer" class="py-4 text-white text-start">
    <div class="container">
        <div class="row">
            <div class="order-0 col-12 order-sm-0 col-sm-6 py-2">
                Дасылайце вашыя пытанні і прапановы на пошту contact@audiobooks.by
            </div>
            <div class="order-2 col-12 order-sm-1 col-sm-6 py-2">
                Сачыце за апошнімі навінамі:
            </div>

            <div class="order-1 col-12 order-sm-2 col-sm-6 d-grid pe-5 py-2">
                <a class="btn btn-light" href="mailto:contact@audiobooks.by" target="_blank">
                    <img src="{% static 'images/Mail.png' %}" alt="email icon">
                </a>
            </div>
            <div class="order-3 col-12 order-sm-3 col-sm-6 py-2">
                <a class="me-3 me-md-5" href="https://t.me/bel_audiobooks" target="_blank">
                    <img src="{% static 'images/TelgramIcon.png' %}" alt="telegram icon">
                </a>
                <a class="me-3 me-md-5" href="https://www.facebook.com/groups/550095389434647" target="_blank">
                    <img src="{% static 'images/FaceBook.png' %}" alt="facebook icon">
                </a>
                <a class="me-3 me-md-5" href="https://instagram.com/belaudiobooks" target="_blank">
                    <img src="{% static 'images/InstagramIcon.png' %}" alt="instagram icon">
                </a>
            </div>
        </div>
    </div>
</footer>