{% load static %}

<header id='main-navigation'>
    <h1><a href="{% url 'index' %}">Беларускія аўдыякнігі</a></h1>
    <nav>
        <a href="{% url 'books-page' %}">Ўсе кнігі</a>
    </nav>
</header>

<section id='welcome'>
    <header>
        <img src="{% static 'images/logo.png' %}" alt="Audiobooks BY">
        <h2>Books from Belarus</h2>
    </header>
    <p>Навігатар па аўдыякнігах на беларускай мове і буларускіх аўтараў.</p>
    <p>Тут вы можаце знайсці як аудыякнігі сучасных аўтараў так і дзіцячыя альбо класічныя кнігі.</p>

    <form action="{% url 'search' %}" method="get">
        <input type="text" name="search" id="seacrh">
        <button type="submin">Пошук</button>
    </form>
</section>