{% load static %}
{% load i18n %}
{% load books_extras %}

<div class="col-12 links-header mt-4">
    {% if narration.paid and narration.preview_url %}
        <div class="my-4" data-test="narration-description">{% translate "Першую частку можна паслухаць бясплатна на" %} <a href="{{ narration.preview_url }}" target="_blank">YouTube</a>.</div>
    {% endif %}
    <strong>
    {% if narration.paid %}
        {% translate "Дзе купіць" %}
    {% else %}
        {% translate "Дзе паслухаць бясплатна" %}
    {% endif %}
    </strong>
</div>
{% for link in narration.links.all|dictsortreversed:'url_type.weight' %}
    {% if not link.url_type.disabled %}
        <div class="mt-2">
            <a href="{{ link.url }}" class="text-decoration-none d-flex align-items-center" target="_blank">
                <img class="mx-auto me-3 link-icon" src="{{ link.url_type.icon.url }}" alt="{{ link.url_type.caption }}">
                <div class="d-inline-block flex-grow-1">
                    <span>{% dtranslate link.url_type.caption %}</span>
                    <span class="link-type-availability">{% dtranslate link.url_type.availability|link_type_availibility %}</span>
                </div>
            </a>
        </div>
    {% endif %}
{% endfor %}
