{% load static %}

<!-- Top navigation that dissapaer when scrolled -->
<nav class="sticky-top {% if request.path == '/' %}main-page{% endif %}">
  <div class="container">
    <a href="{% url 'index' %}" class="link-dark text-decoration-none text-white logo-title">
      <img class="img-fluid logo" src="{% static 'images/AudioBooksLogo-lg.svg' %}" alt="Audiobooks BY">
      <div class="h3 text-center site-title fw-bold">БЕЛАРУСКIЯ АЎДЫЯКНIГI</div>
    </a>
    <div class="site-description text-white">
      <p class="title_lead show-on-main">Навігатар па аўдыякнігах на беларускай мове і беларускіх аўтараў</p>
      <p class="show-on-main">Тут вы можаце хутка знайсці аўдыякнігі сучасных аўтараў, а таксама класічныя і дзіцячыя
        творы ў аўдыяфармаце. Сайт не змяшчае кнігі, а дае спасылкі на пляцоўкі, дзе іх можна паслухаць альбо набыць.
      </p>

      <div class="d-flex align-items-center my-3">
        Сачыце за навінамі:
        <div class="ms-2 d-flex justify-content-around justify-content-lg-start flex-grow-1">
          <a class="icon mx-3" href="https://t.me/bel_audiobooks" target="_blank" aria-label="telegram">
            <i class="bi bi-telegram"></i>
          </a>
          <a class="icon mx-3" href="https://www.facebook.com/groups/550095389434647" target="_blank"
            aria-label="facebook">
            <i class="bi bi-facebook"></i>
          </a>
          <a class="icon mx-3" href="https://instagram.com/belaudiobooks" target="_blank" aria-label="instagram">
            <i class="bi bi-instagram"></i>
          </a>
        </div>
      </div>
    </div>
    <div class="controls sticky-top">
      <ul class="buttons nav navbar-nav mb-0">
        <li class="nav-item">
          <a class="catalog nav-link text-white {% if '/catalog' in request.path %}active{% else %}text-opacity-75{% endif %}"
            href="{% url 'catalog-all-books' %}">Каталог
          </a>
        </li>
        <li class="nav-item">
          <a class="about-us nav-link text-white {% if '/about' in request.path %}active{% else %}text-opacity-75{% endif %}"
            href="{% url 'about' %}">Пра нас
          </a>
        </li>
      </ul>
      <div class="search-container col-12 col-md-6 col-lg-3 position-relative ">
        <form class="d-flex" action="{% url 'search' %}" method="get" autocomplete="off">
          <div class="input-group">
            <input type="text" class="form-control bg-white border-white" placeholder="Аўтар, назва кнігі"
              aria-label="Аўтар, назва кнігі" aria-describedby="button-search" name="query" id="search">
            <button class="btn p-0" type="submit" id="button-search">
              <i class="bi bi-search"></i>
            </button>
          </div>
        </form>
        <div id="autocomplete" class="d-none"></div>
      </div>
    </div>
  </div>
</nav>