{% extends 'base.html' %}
{% load static %}
{% load books_extras %}

{% block title %}Пра нас{% endblock title %}
{% block og_title %}Пра нас{% endblock og_title %}

{% block content %}
<div class="container" id="books">
    <div class="col-12">
        <h1>Пра нас</h1>
    </div>
    <div class="col-12">
        <p> audiobooks.by - навігатар па аўдыякнігах на беларускай мове і беларускіх аўтараў. Тут вы можаце хутка
            знайсці як аўдыякнігі сучасных аўтараў, так і дзіцячыя альбо класічныя кнігі. Сайт не змяшчае самі кнігі, а
            дае спасылкі на пляцоўкі, дзе іх можна паслухаць альбо набыць.
        </p>
        <p>
            На дадзены момант запісана шмат беларускіх аўдыякніг, але яны раскіданыя па розных кутках інтэрнэту. Таму
            бывае цяжка высветліць, ці ёсць кантрэтная кніга ў аўдыяфармаце, альбо паглядзець усе аўдыякнігі аўтара.
            Дапамагчы вам зможа гэты сайт. На дадзены момант на сайце сабраныя спасылкі на
            {{books_count|by_plural:"кнігу,кнігі,кніг"}} з такіх крыніц, як
            <a href="https://knizhnyvoz.by/">Кніжны Воз</a>,
            <a href="https://knihi.com/audyjoknihi.html">Беларуская палічка</a>,
            <a href="https://kamunikat.org/audyjoknihi.html">Камунікат</a>,
            <a href="https://soundcloud.com/svaboda/sets">Радыё Свабода</a>,
            <a href="https://audio.penbelarus.org/">Беларускі ПЭН-цэнтр</a>,
            <a href="http://mininform.gov.by/by/news/aktualna/u-dapamogu-batskam-i-shkolnikam-a-dyyaknigi/">Мінінфарм
                РБ</a> і іншых. Сачыць за апошнімі навінамі вы можаце ў нашых сацыяльных сетках:
        </p>

        <p>
            <a class="me-3 me-md-5 icon" href="https://t.me/bel_audiobooks" target="_blank" aria-label="telegram">
                <i class="bi bi-telegram"></i>
            </a>
            <a class="me-3 me-md-5 icon" href="https://www.facebook.com/groups/550095389434647" target="_blank"
                aria-label="facebook">
                <i class="bi bi-facebook"></i>
            </a>
            <a class="me-3 me-md-5 icon" href="https://instagram.com/belaudiobooks" target="_blank"
                aria-label="instagram">
                <i class="bi bi-instagram"></i>
            </a>
        </p>
        <p>

            Калі на нашым сайце няма якой-небудзь аўдыякнігі, альбо калі вы знайшлі памылку, калі ласка, напішыце нам на
            <strong>contact@audiobooks.by</strong> альбо праз <a
                href="https://forms.gle/hP2KTip81EVshqUr6">Гугл-форму</a>. Будзем удзячныя за водгукі і прапановы.
        </p>
        <p>

        </p>
        <p>
            Мы адкрыты да супрацоўніцтва. Калі вы жадаеце запісаць і выкласці аўдыякнігу, ці нават толькі выкласці -
            напішыце нам на <strong>contact@audiobooks.by</strong>.
        </p>
        <p>
            Зыходны код сайта размяшчаецца на гітхабе: <a
                href="https://github.com/belaudiobooks/website">belaudiobooks/website</a>
    </div>
    <div class="col-12">
        <h3>Наша каманда</h3>
    </div>

    <div class="row">
        {% for member in team_members %}
        <div class="col-12 col-sm-6 col-lg-3 mt-4 border-white team-member">
            <!-- <img src="{% static member.1 %}" alt="photo"> -->
            <img src="{% static 'images/person-outline.png' %}" alt="photo">
            <span class="ms-2">{{ member.0 }}</span>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock content %}