{% extends 'base.html' %}
{% load static %}

{% block title %}Пра нас{% endblock title %}

{% block css_files %}
<link rel="stylesheet" href="{% static 'css/books.css' %}">
<link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock css_files %}

{% block content %}
<div class="container" id="books">
    <div class="col-12">
        <h1>Пра нас</h1>
    </div>
    <div class="col-12">
        <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro harum cumque dicta, suscipit deserunt esse
            maiores voluptatem maxime omnis! Mollitia explicabo saepe delectus commodi alias suscipit ea repellendus
            dignissimos rem!
            Sit amet consectetur adipisicing elit. Vel velit placeat soluta numquam enim saepe blanditiis aperiam
            deleniti repudiandae ducimus, nihil, error autem odio pariatur fuga ipsam et adipisci. Quod
        </p>
    </div>
    <div class="col-12">
        <h3>Наша каманда</h3>
    </div>

    <div class="row">
        {% for member in team_members %}
        <div class="col-12 col-sm-6 col-lg-3 mt-4 border-white team-member">
            <img src="{% static member.1 %}" alt="photo">
            <span class="ms-2">{{ member.0 }}</span>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock content %}