{% extends 'base.html' %}
{% load static %}
{% load books_extras %}

{% block title %}{% if selected_tag %}{{ selected_tag.name }}{% else %}Усе аўдыякнігі{% endif %}{% endblock title %}
{% block og_title %}{% if selected_tag %}{{ selected_tag.name }}{% else %}Усе аўдыякнігі{% endif %}{% endblock og_title %}

{% block css_files %}
    <link rel="stylesheet" href="{% static 'css/books.css' %}">
    {% comment %} <link rel="stylesheet" href="{% static 'css/all-books.css' %}"> {% endcomment %}
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock css_files %}

{% block content %}
{% if all_books %}
    <div class="container">
        <div class="row">

            <!-- Tags List -->
            <div class="col-12 col-md-3 mt-1 mt-sm-5">

                <!--Buddont Genre shown only on mobile-->
                <button class="btn hidden visible-xs d-block d-sm-none btn-genre" type="button" data-bs-toggle="collapse" data-bs-target="#collapseGenre" aria-expanded="false" aria-controls="collapseGenre">
                    Жанры <i class="bi bi-chevron-down"></i><i class="bi bi-chevron-up"></i>
                </button>


                <div class="collapse dont-collapse-sm" id="collapseGenre">
                    <ul class="list-unstyled">
                        {% for tag in tags %}
                            {% if not tag.hidden %}
                                <li>
                                    <a class="text-decoration-none text-start tag {% if tag.id == selected_tag.id %}tag-selected{% endif %}"
                                            href="{% url 'catalog-for-tag' tag.slug %}">
                                        {{ tag.name }}
                                    </a>
                                </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>
            </div>

            <!--Books by Tag-->
            <div class="col-12 col-md-9 mt-1 mt-sm-5" id="books">
                <div class="row">
                    <div class="col-12">
                        {% if selected_tag %}
                            <h4 class="tag">{{ selected_tag.name }}</h4>
                        {% endif %}
                    </div>
                    {% for book in all_books %}
                        <div class="col-6 col-sm-5 col-md-4 col-lg-3 mb-4">
                            {% include 'partials/_book.html' %}
                        </div>
                    {% endfor %}

                    <!--Paginagion-->
                    <div class="row">
                        <div class="col-md-12">
                        {% if all_books.has_other_pages %}
                            <ul class="pagination books-text">
                                <!--First Page Link-->
                                {% if all_books.has_previous%}
                                    <li class="text-end">
                                        <a class="text-decoration-none tag-selected first-page" href="?page=1{{links_filter}}"><i class="bi bi-chevron-double-left"></i></a>
                                    </li>
                                {% else %}
                                    <li class="disabled text-end">
                                        <a class="text-decoration-none" href="#"><i class="bi bi-chevron-double-left"></i></a>
                                    </li>  
                                {% endif %}

                                <!--Previours Page Link-->
                                {% if all_books.has_previous%}
                                    <li class="text-end">
                                        <a class="text-decoration-none tag-selected prev-page" href="?page={{all_books.previous_page_number}}{{links_filter}}""><i class="bi bi-chevron-left"></i></a>
                                    </li>
                                {% else %}
                                    <li class="disabled text-end">
                                        <a class="text-decoration-none" href="#"><i class="bi bi-chevron-left"></i></a>
                                    </li>  
                                {% endif %}
                                
                                <!--Current Page-->
                                <span class="books-text">Старонка {{ all_books.number }} з {{ all_books.paginator.num_pages }}</span>

                                <!--Next Page Link-->
                                {% if all_books.has_next%}
                                    <li class="">
                                        <a class="text-decoration-none tag-selected next-page" href="?page={{all_books.next_page_number}}{{links_filter}}""><i class="bi bi-chevron-right"></i></a>
                                    </li>
                                {% else %}
                                    <li class="disabled">
                                        <a href="#" class="text-decoration-none"><i class="bi bi-chevron-right"></i></a>
                                    </li>  
                                {% endif %}

                                <!--Last Page Link-->
                                {% if all_books.has_next%}
                                    <li class="page-item">
                                        <a class="text-decoration-none tag-selected last-page" href="?page={{ all_books.paginator.num_pages }}{{links_filter}}""><i class="bi bi-chevron-double-right"></i></a>
                                    </li>
                                {% else %}
                                    <li class="disabled">
                                        <a href="#" class="text-decoration-none"><i class="bi bi-chevron-double-right"></i></a>
                                    </li>  
                                {% endif %}
                            </ul>
                        {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endif %}
{% endblock content %}