{% extends 'base.html' %}
{% load static %}

{% block title %}
    Ўсе аўдыякнігі
{% endblock title %}

{% block css_files %}
    <link rel="stylesheet" href="{% static 'css/books.css' %}">
    {% comment %} <link rel="stylesheet" href="{% static 'css/all-books.css' %}"> {% endcomment %}
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock css_files %}

{% block content %}
{% if all_books.exists %}
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-3 mt-5">
                <ul class="list-unstyled">
                    {% for tag in tags %}
                        {% if tag.tag.exists %}
                            <li>
                                <form action="{% url 'books' %}" method="get">
                                    <button class="btn btn-link text-decoration-none text-start {% if tag.slug == request.GET.books %}tag-selected{% else %}tag{% endif %}" name='books' value={{ tag.slug }}>{{ tag.name }}</button>
                                </form>
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
            <div class="col-12 col-sm-9" id="books">
                <div class="row">
                    <div class="col-12">
                        {% if tag %}
                            <h4>{{ tag }}</h4>
                            <p>Ўсе кнігі выбраныя па тэгу</p>
                        {% endif %}
                    </div>
                    {% for book in all_books %}
                        <div class="col-6 col-sm-5 col-md-4 col-lg-3 mb-4">
                            {% include 'partials/_book.html' %}
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endif %}
{% endblock content %}