{% extends 'base.html' %}
{% load static %}

{% block title %}
    {{ book.title|title }}
{% endblock title %}

{% block css_files %}
    <link rel="stylesheet" href="{% static 'css/book-detail.css' %}">
    {% comment %} <link rel="stylesheet" href="{% static 'css/books.css' %}"> {% endcomment %}
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock css_files %}

{% block content %}
<div class="container" id="books">
    <div class="row">
    <div class="col-4">
        <!--Book image-->
        {% if book.cover_image %}
            <img class="col-md-6 float-md-start mb-3 mx-4 ms-md-3 photo" src="{{ book.cover_image.url }}" alt="{{ book.title }}">
        {% else %}
            <div class="col-md-6 float-md-start mb-3 mx-4 ms-md-3 cover d-flex justify-content-center text-center flex-column photo" style="background-image: url({{ colors|random }});background-repeat:no-repeat;">
                <div class="col-12 pm-2 upper-half">
                    {% for author in book.authors.all %}{{ author.name }}{% endfor %}
                </div>
                <div class="separator"></div>
                <div class="col-12 lower-half pt-2">
                    {{ book.title }}
                </div>
            </div>
        {% endif %}
    </div>
    <div class="col-8">
        <!--Book details-->
        <h2>{{ book.title }}</h2>
        {% if book.duration_sec %}
            <p>{{ book.duration_sec }}</p>
        {% endif %}
        <div>
            Аўтар{% if authors.count > 1 %}ы{% endif %}:
            {% for author in authors %}
                    <a class="text-decoration-none" href="{% url 'person-detail-page' author.slug %}">
                    <span>{{ author.name }}</span> 
                    </a> 
            {% endfor %}
        </div>                
        <div class="my-4">
            <p class="fw-normal">{{ book.description|linebreaks }}</p>
        </div>
        

        <!--Adding Links-->
        {% for narration in narrations %}
            <div class="row">
                {% include 'partials/_link.html' %}
            </div>
        {% endfor %}
        
        <!--Tags-->
        <div class="row my-4">
            {% for tag in tags %}
                <div class="col-auto p-1">
                    <form action="{% url 'books' %}" method="get">
                        <button class="btn btn-tag p-2" name='books' value={{tag.slug}}>{{tag}}</button>
                    </form>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
</div>


{% endblock content %}
