{% extends 'base.html' %}
{% load static %}
{% load books_extras %}
{% load markdownify %}

{% block title %}{{ book.title | title}} аўдыякніга{% endblock title %}
{% block og_title %}{{ book.title | title}}{% endblock og_title %}
{% block og_image %}{% spaceless %}
    {% if book.narrations.all|length == 1 and book.narrations.first.cover_image %}
        {{ book.narrations.first.cover_image.url }}
    {% else %}
        {{ block.super }}
    {% endif %}
{% endspaceless %}{% endblock %}
{% block description %}
  Звесткі пра кнігу «{{book.title}}» {% for author in book.authors.all %}{{ author.name }}{% endfor %}:
  апісанне, спасылкі на розныя крыніцы дзе можна паслухаць кнігу.
{% endblock description %}

{% block content %}
<div class="container" id="books">
    <div class="row">

        <!--Book image-->
        <div class="col-12 col-md-6 col-lg-4" data-test="book-cover">
            {% if single_narration %}
                {% include 'partials/_cover.html' with book=book image=book.narrations.first.cover_image image_source=book.narrations.first.cover_image_source ind=0 type="large" %}
            {% endif %}
        </div>

        <!--Book details-->
        <div class="col-12 col-md-6 col-lg-8">

            <!--Book Title-->
            <h1 class="h2">{{ book.title }}</h1>
            {% if show_russian_title %}
                <div class="mb-2">{{ book.title_ru }}</div>
            {% endif %}

            <!--Book Duration-->
            {% if single_narration %}
                {% if narrations.first.duration %}
                    <p class="text-secondary">{{ narrations.first | duration }}</p>
                {% endif %}
            {% endif %}

            <!--Authors with check on multiples and gender-->
            <div data-test="authors">
                {% include 'partials/_person.html' with persons=authors multiple='Аўтары' single='Aўтар' gender_variants="ка,"%}
            </div>

            <!--Translators with check on multiples and gender-->
            <div data-test="translators">
                {% include 'partials/_person.html' with persons=translators multiple='Пераклалі' single='Перакла' gender_variants="ла,ў"%}
            </div>

            {% if single_narration %}
                <div data-test="narrators">
                    {% include 'partials/_person.html' with persons=narrations.first.narrators.all multiple='Агучылі' single='Агучы' gender_variants="ла,ў"%}
                </div>
            {% endif %}

            <!--Publisher-->
            {% if single_narration and narrations.first.publishers.all.exists %}
            <div>
                Выдавецтва: {% include 'partials/_publisher.html' with publishers=narrations.first.publishers.all %}
            </div>
            {% endif %}

            {% if single_language is not None %}
            <div>
                Мова: {{ single_language | to_human_language }}
            </div>
            {% endif %}

            <!--Book description-->
            <div class="my-4" data-test="book-description">
                {{ book.description | markdownify:"book_description" | linebreaks }}
                {% if single_narration %}
                    {{ narrations.first.description | markdownify:"book_description" | linebreaks }}
                {% endif %}
                {% cite_source book.description_source "cit-description" %}
            </div>

            {% if book.preview_url %}
                Першую частку можна паслухаць бясплатна на <a href="{{ book.preview_url }}" target="_blank">YouTube</a>.
            {% endif %}

            {% if book.livelib_url %}
            <div class="mb-4">
                Водгукі на <a href="{{ book.livelib_url }}" target="_blank">LiveLib</a>
            </div>
            {% endif %}
        </div>

    <!--Adding Links-->
    {% for narration in narrations %}
        {% if not single_narration %} <hr> {% endif %}

        <!--Book image-->
        <div class="col-12 col-md-6 col-lg-4" data-test="narration-cover">
            {% if not single_narration %}
                {% include 'partials/_cover.html' with book=book image=narration.cover_image image_source=narration.cover_image_source ind=0 type="large" %}
            {% endif %}
        </div>
        <!--Book details-->
        <div class="col-12 col-md-6 col-lg-8">
            <div class="col-12 links-header">
                {% if not single_narration %}
                    <h3>Агучка {{ forloop.counter }}</h3>
                    <div data-test="translators">
                        {% include 'partials/_person.html' with persons=narration.translators.all multiple='Пераклалі' single='Перакла' gender_variants="ла,ў"%}
                    </div>
                    <div data-test="narrators">
                        <!--Narrators with check on multiples and gender-->
                        {% include 'partials/_person.html' with persons=narration.narrators.all multiple='Агучылі' single='Агучы' gender_variants="ла,ў"%}
                        <!--check if no name-->
                        {% if not narration.narrators.all.exists %}
                            Агучка: удакладняецца...
                        {% endif %}
                    </div>
                    {% if narration.publishers.all.exists %}
                        <div>
                            Выдавецтва: {% include 'partials/_publisher.html' with publishers=narration.publishers.all %}
                        </div>
                    {% endif %}
                    {% if narration.duration %}
                        <div>{{ narration | duration }}</div>
                    {% endif %}
                {% endif %}
                {% if single_language is  None %}
                    <div>Мова: {{ narration.language | to_human_language }}</div>
                {% endif %}
                {% if not single_narration %}
                    <div class="my-4" data-test="narration-description">
                        {{ narration.description | markdownify:"book_description" | linebreaks }}
                    </div>
                {% endif %}
                <strong>
                {% if narration.paid %}
                    Дзе купіць
                {% else %}
                    Дзе паслухаць бясплатна
                {% endif %}
                </strong>
            </div>
            <!--Access to the link type-->
            {% for link in narration.links.all|dictsortreversed:'url_type.weight' %}
                {% if not link.url_type.disabled %}
                    <div class="mt-2">
                        <a href="{{ link.url }}" class="text-decoration-none d-flex align-items-center" target="_blank">
                            <img class="mx-auto me-3 link-icon" src="{{ link.url_type.icon.url }}" alt="{{ link.url_type.caption }}">
                            <div class="d-inline-block flex-grow-1">
                                <span>{{ link.url_type.caption }}</span>
                                <span class="link-type-availability">{{ link.url_type.availability | link_type_availibility }}</span>
                            </div>
                        </a>
                    </div>
                {% endif %}
            {% endfor %}
            </div>
     {% endfor %}


     <div class="col-12 col-md-6 col-lg-4"></div>
     <div class="col-12 col-md-6 col-lg-8">
            <!--Tags-->
            <div class="row my-4">
                {% for tag in tags %}
                    {% if not tag.hidden %}
                    <div class="col-auto p-1">
                        <a href="{% url 'catalog-for-tag' tag.slug %}" class="btn btn-tag p-2">
                            {{tag}}
                        </a>
                    </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>


{% endblock content %}
