{% extends 'base.html' %}
{% load static %}
{% load books_extras %}

{% block content %}

{% comment %}
<div class="container" id="books">
    <div class="row">
        <h4 class="col-12 mb-4">{% books_of_the_month %}</h4>
    </div>
    <div class="row">
        {% for book in promo_books %}
            <div class="col-6 col-sm-4 col-md-3 col-lg-2 mb-4">
                {% include 'partials/_book_preview.html' %}
            </div>
        {% endfor %}
    </div>
</div>
{% endcomment %}

<div class="container" id="books" data-test="latest-books">
    <div class="row">
        <h4 class="col-12 mb-4">Навінкі</h4>
    </div>
    <div class="row">
        {% for book in recently_added_books %}
        <div class="col-6 col-sm-4 col-md-3 col-lg-2 mb-4">
            {% include 'partials/_book_preview.html' with book_for_preview=book %}
        </div>
        {% endfor %}
    </div>
</div>

<!--Getting all the tags and rendering 6 books for each-->
{% for tag in tags_to_render %}
{% with tag_name=tag.name tag_slug=tag.slug tag_books=tag.books %}
<div class="container" id="books">
    <div class="row">
        <div class="col-7 col-sm-10 mb-4">
            <h4>{{tag_name}}</h4>
        </div>
        <div class="col-5 col-sm-2 text-end ">
            <a class="text-decoration-none tag-selected" href="{% url 'catalog-for-tag' tag_slug %}">
                {{tag_books|length|by_plural:"кніга,кнігі,кніг"}}
                <i class="bi bi-chevron-right"></i>
            </a>
        </div>
        {% for book in tag_books %}
        <div class="col-6 col-sm-4 col-md-3 col-lg-2 mb-4">
            {% include 'partials/_book_preview.html' with book_for_preview=book %}
        </div>
    {% endfor %}
</div>
</div>
{% endwith %}
{% endfor %}

{% endblock content %}