{% extends 'base.html' %}
{% load static %}
{% load books_extras %}

{% block title %}{{ person.name }}, аўдыякнігі{% endblock title %}
{% block description %}
  На гэтай старонцы вы знойдзеце ўсе кнігі якія {{person.name}} напісаў, агучыў альбо пераклаў.
{% endblock description %}

{% block css_files %}
    <link rel="stylesheet" href="{% static 'css/books.css' %}">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock css_files %}

{% block content %}

<div class="container">
    <div class="row">
        <!--Author bio section-->
        <div class="col-12 col-md-3 mt-2 mt-sm-5">
            {% if person.photo %}
                <img class="img-fluid mx-auto mb-3 photo d-block" src="{{ person.photo.url }}" alt="{{ person.name }}">
            {% endif %}
            <h3 class="text-center">
                {{ person.name }}
            </h3>
            <p>
                {{ person.description|linebreaks }}
            </p>
        </div>
        <!--Books section-->
        <div class="col-12 col-md-9 mt-1 mt-sm-5" id="books">
            {% if author.exists %}
                <div class="row mt-3">
                    <div class="col-12">
                        <h4>Кнігі аўтар{{person|gender:"кі,а"}}</h4>
                    </div>
                    {% for book in author %}
                        <div class="col-6 col-sm-5 col-md-4 col-lg-3 my-4">
                            {% include 'partials/_book.html' %}
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
            {% if translator.exists %}
                <div class="row mt-3">
                    <div class="col-12">
                        <h4>Пераклады</h4>
                    </div>
                    {% for book in translator %}
                    <div class="col-6 col-sm-5 col-md-4 col-lg-3 my-4">
                        {% include 'partials/_book.html' %}
                    </div>
                    {% endfor %}
                </div>
            {% endif %}
            {% if narrations %}
                <div class="row mt-3">
                    <div class="col-12">
                        <h4>Агучаныя кнігі</h4>
                    </div>
                    {% for book in narrations %}
                    <div class="col-6 col-sm-5 col-md-4 col-lg-3 my-4">
                        {% include 'partials/_book.html' %}
                    </div>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </div>
</div>

{% comment %}
<div class="container" id="books">
    <div class="clearfix">

            {% if person.photo %}
            <img class="col-md-6 float-md-start mb-3 mx-4 ms-md-3 photo" src="{{ person.photo.url }}"
                alt="{{ person.name }}">
            {% endif %}
            <h3>
                {{ person.name }}
            </h3>
            <p>
                {{ person.description|linebreaks }}
            </p>

    </div>
    {% if author.exists %}
        <div class="row mt-3">
            <div class="col-12">
                <h4>Кнігі аўтар{{person|gender:"кі,а"}}</h4>
            </div>
            {% for book in author %}
            <div class="col-6 col-sm-4 col-md-3 col-lg-2 my-4">
                {% include 'partials/_book.html' %}
            </div>
            {% endfor %}
        </div>
    {% endif %}
    {% if translator.exists %}
        <div class="row mt-3">
            <div class="col-12">
                <h4>Пераклады</h4>
            </div>
            {% for book in translator %}
            <div class="col-6 col-sm-4 col-md-3 col-lg-2 my-4">
                {% include 'partials/_book.html' %}
            </div>
            {% endfor %}
        </div>
    {% endif %}
    {% if narrations %}
        <div class="row mt-3">
            <div class="col-12">
                <h4>Агучаныя кнігі</h4>
            </div>
            {% for book in narrations %}
            <div class="col-6 col-sm-4 col-md-3 col-lg-2 my-4">
                {% include 'partials/_book.html' %}
            </div>
            {% endfor %}
        </div>
    {% endif %}

</div> {% endcomment %}


{% endblock content %}