{% extends 'base.html' %}
{% load static %}


{% block css_files %}
    <link rel="stylesheet" href="{% static 'css/books.css' %}">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock css_files %}

{% block content %}

    <section id='new-books'>
                <article class='book'>
                        {% if person.photo %}
                            <img src="{{ person.photo.url }}" alt="{{ person.name }}">
                        {% endif %}
                            <div class='book__content'>
                                <h4>{{ person.name }}</h4>
                                <p>
                                    {{ person.description }}
                                </p>
                            </div>

                </article>
    </section>


{% endblock content %}