{% extends 'base.html' %}
{% load static %}

{% block title %}Вынікі пошука{% endblock title %}

{% block css_files %}
    <link rel="stylesheet" href="{% static 'css/books.css' %}">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock css_files %}

{% block content %}

    <div class="container" id='books'>
        <h2 id="searched-query">Вынікі пошука '{{ query }}'</h2>
        <ul>
            {% for item in results %}
                {% if item.type == 'person' %}
                    {% include 'partials/_person_in_search.html' with person=item.object %}
                {% else  %}
                    {% include 'partials/_book.html' with book=item.object %}
                {% endif %}
            {% endfor %}
        </ul>
    </div>


{% endblock content %}
