{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block title %}{% translate "Вынікі пошука" %}{% endblock title %}
{% block og_title %}Вынікі пошука{% endblock og_title %}

{% block content %}

    <div class="container" id='books'>
        <h2 id="searched-query">{% translate "Вынікі пошука" %} '{{ query }}'</h2>
        <ul>
            {% for item in results %}
                {% if item.type == 'person' %}
                    {% include 'partials/_person_in_search.html' with person=item.object %}
                {% endif %}
                {% if item.type == 'publisher' %}
                    {% include 'partials/_publisher_in_search.html' with publisher=item.object %}
                {% endif %}
                {% if item.type == 'book' %}
                    {% include 'partials/_book_preview.html' with book_for_preview=item.object %}
                {% endif %}
            {% endfor %}
        </ul>
    </div>


{% endblock content %}
