{% extends 'base.html' %}
{% load static %}

{% block title %}Вынікі пошука{% endblock title %}

{% block css_files %}
    <link rel="stylesheet" href="{% static 'css/books.css' %}">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock css_files %}

{% block content %}

    <div class="container" id='books'>
        {% if values %}
            <h2>Вынікі пошука '{{ values }}'</h2>
        {% endif %}
        <ul>
            {% for book in books %}
                {% include 'partials/_book.html' %}
            {% endfor %}
        </ul>
    </div>


{% endblock content %}