{% load static %}
{% load i18n %}

<!DOCTYPE html>
{% get_current_language as LANGUAGE %}
<html lang="{{LANGUAGE}}">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% translate "Беларускія аўдыякнігі" %}{% endblock %}</title>
    <meta name="description"
        content="{% block description %}Навігатар па аўдыякнігах на беларускай мове і беларускіх аўтараў.{% endblock %}">
    <meta property="og:title" content="{% block og_title %}Беларускія аўдыякнігі{% endblock %}" />
    <meta property="og:image" content="{% block og_image %}{% static 'images/logo.jpg' %}{% endblock %}" />
    <meta name="robots" content="index, follow" />
    {% block extra_meta_tags %}{% endblock extra_meta_tags %}
    <!-- Bootstrap -->
    <link href="{% static 'css/bootstrap-5.3.8.min.css' %}" rel="stylesheet">
    <!-- Custom -->
    <link rel="stylesheet" href="{% static 'css/app.css' %}">
    <link rel="icon" type="image/svg+xml" href="{% static 'images/favicon.svg' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-icons-1.8.1.css' %}">
</head>

<body>
    <!-- Navbar-->
    {% block navbar %}{% include 'partials/_navbar.html' %}{% endblock %}

    <!-- Main conten block {% endcomment -->
    {% block content %}{% endblock content %}

    <!-- Footer -->
    {% block footer %}{% include 'partials/_footer.html' %}{% endblock %}

    <meta name="algolia" data-index="{{ algolia_index }}" data-app-id="{{ algolia_application_id }}"
        data-search-key="{{ algolia_search_key }}">
    <script src="{% static 'js/bootstrap-5.3.8.bundle.min.js' %}"></script>
    <script src="{% static 'js/algoliasearch-lite-4.5.1.umd.js' %}"></script>
    <script src="{% static 'js/instantsearch-4.8.3.production.min.js' %}"></script>
    <script src="{% static 'js/main.js' %} "></script>

    {# Global site tag (gtag.js) - Google Analytics #}
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-3P71ZKXZJW"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());
        gtag('config', 'G-3P71ZKXZJW');
    </script>
    {# Meta Pixel Code #}
    <script>
        !function (f, b, e, v, n, t, s) {
            if (f.fbq) return; n = f.fbq = function () {
                n.callMethod ?
                    n.callMethod.apply(n, arguments) : n.queue.push(arguments)
            };
            if (!f._fbq) f._fbq = n; n.push = n; n.loaded = !0; n.version = '2.0';
            n.queue = []; t = b.createElement(e); t.async = !0;
            t.src = v; s = b.getElementsByTagName(e)[0];
            s.parentNode.insertBefore(t, s)
        }(window, document, 'script',
            'https://connect.facebook.net/en_US/fbevents.js');
        fbq('init', '613802403714353');
        fbq('track', 'PageView');
    </script>
    <noscript><img height="1" width="1" style="display:none"
            src="https://www.facebook.com/tr?id=613802403714353&ev=PageView&noscript=1" /></noscript>
</body>
</html>
