{% extends 'base.html' %}
{% load static %}
{% load books_extras %}

{% block title %}Дні народзінаў{% endblock title %}
{% block og_title %}Дні народзінаў{% endblock og_title %}

{% block content %}
<div class="container table-responsive" id="birthdays">
    <div class="col-12">
        <h1>Дні народзінаў</h1>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Засталося дзён</th>
                <th scope="col">Дзень народзінаў</th>
                <th scope="col">Чалавек</th>
                <th scope="col">Узрост</th>
                <th scope="col">Кнігі, пераклады, агучкі</th>
            </tr>
        </thead>
        <tbody>
            {% for p in people_with_info %}
            <tr>
                <td class="fs-5 align-middle">
                    {{ p.days_left }}
                </td>
                <td class="fs-5 align-middle">
                    {{ p.date_of_birth | format_date }}
                </td>
                <td>
                    {% include 'partials/_person_in_search.html' with person=p.person %}
                </td>
                <td class="fs-5 text-center align-middle">
                    {{ p.age }}
                </td>
                <td class="fs-5 align-middle">
                    {{ p.stats }}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock content %}