{% load static %}

<!DOCTYPE html>
<html lang="by">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Беларускія аўдыякнігі{% endblock %}</title>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <!-- Custom -->
    <link rel="stylesheet" href="{% static 'css/app.css' %}">
    <link rel="icon" type="image/svg+xml" href="{% static 'images/favicon.svg' %}">
    {% block css_files %}{% endblock css_files %}
</head>

<body>
    <!-- Navbar-->
    {% include 'partials/_navbar.html' %}

    <!-- Main conten block {% endcomment -->
    {% block content %}{% endblock content %}

    <!-- Footer -->
    {% include 'partials/_footer.html' %}

    <script src="{% static 'js/bootstrap.bundle.js' %} "></script>
    <script src="https://cdn.jsdelivr.net/npm/algoliasearch@4.5.1/dist/algoliasearch-lite.umd.js"
        integrity="sha256-EXPXz4W6pQgfYY3yTpnDa3OH8/EPn16ciVsPQ/ypsjk=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/instantsearch.js@4.8.3/dist/instantsearch.production.min.js"
        integrity="sha256-LAGhRRdtVoD6RLo2qDQsU2mp+XVSciKRC8XPOBWmofM=" crossorigin="anonymous"></script>
    <script src="{% static 'js/main.js' %} "></script>

</html>