{% load static %}

<!DOCTYPE html>
<html lang="by">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>   
    <!-- Bootstrap -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <!-- Custom -->
    <link rel="stylesheet" href="{% static 'css/app.css' %}">
    <link rel="icon" type="image/svg+xml" href="{% static 'images/favicon.svg' %}">
    {% block css_files %}{% endblock css_files %}
</head>
<body>
    <!-- Navbar-->
    {% include 'partials/_navbar.html' %}

    <!-- Main conten block {% endcomment -->
    {% block content %}{% endblock content %}

    <!-- Footer -->
    {% include 'partials/_footer.html' %}

    {% comment %} <script src="{% static 'js/jquery-3.3.1.min.js' %} "></script> {% endcomment %}
    <script src="{% static 'js/bootstrap.bundle.js' %} "></script>
    {% comment %} <script src="{% static 'js/bootstrap.bundle.js.map' %} "></script> {% endcomment %}
    {% comment %} <script src="{% static 'js/main.js' %} "></script> {% endcomment %}
</html>