@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500&display=swap');

html {
  font-family: 'Montserrat', sans-serif;
}

body {
  background-color: #E1E1E1;
}

h1,
h2,
h3 {
  font-family: 'Montserrat', sans-serif;
}

.card-img-150{
  width: 100%!important;
  height: 10rem!important;
  object-fit: cover;
}


#footer {
  text-align: center;
  padding: 3rem;
  background-color: #7879F1;
  margin-top: 5rem;
}

#footer h2 {
  font-size: 3rem;
}

#footer p {
  font-size: 1.5rem;
  color: #353535;
}