@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500&family=Oswald:wght@300;400&display=swap');

html {
  /**
   * Account for sticky headers when using scrolling.
   * See https://getpublii.com/blog/one-line-css-solution-to-prevent-anchor-links-from-scrolling-behind-a-sticky-header.html
   */
  scroll-padding-top: 5rem;
}

body {
  background-color: #E1E1E1;
  font-family: 'Montserrat', sans-serif;
}

a {
  color: #7879F1;
  text-decoration: none;
}

.photo {
  width: 275px;
  height: auto;
  object-fit: cover;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  display: block;
  margin: auto;
}

#books .cit-photo,
.cit-photo {
  text-align: center;
  font-size: 13px;
}

.link-icon {
  width: 48px;
  height: 48px;
  border-radius: 10px;
}

.logo {
  width: 130px;
  height: 130px;
}

.title_lead {
  font-weight: 700;
  /* font-size: 24px;
  line-height: 32px; */
  /* color: #D6CFFF; */
}

.active {
  font-weight: 600;
}

#footer {
  text-align: center;
  padding: 3rem;
  background-color: #7879F1;
  margin-top: 3rem;
}

#footer h2 {
  font-size: 3rem;
}

#footer p {
  font-size: 1.5rem;
  color: #353535;
}

.icon {
  font-size: 26px;
  color: white;
  line-height: 1;
}

#books .icon {
  color: #7879F1;
}

.author {
  font-style: normal;
  color: black
}

.title {
  font-style: normal;
  font-weight: bold;
  color: black
}

.cover {
  width: 275px;
  height: 275px;
  background-size: 275px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  font-family: 'Oswald', sans-serif;
}

.cover.small {
  width: 150px;
  height: 150px;
  background-size: 150px;
  font-size: 13px;
}

.cover>div {
  width: 83%;
  text-align: center;
  box-sizing: border-box;
  color: black;
}

.separator {
  height: 3%;
}

.upper-half {
  height: 45%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding-bottom: 3%;
  font-weight: 300;
}

.lower-half {
  height: 51%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  font-weight: 400;
  padding-top: 3%;
  text-transform: uppercase;
}

.card-img-150 {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 10px !important;
}


@media (min-width: 992px) and (max-width: 1200px) {

  .card-img-150,
  .cover.small {
    width: 130px;
    height: 130px;
    background-size: 130px;
  }
}



#autocomplete {
  position: absolute;
  inset: 0px auto auto 0px;
  margin: 0px;
  transform: translate(0px, 40px);
  background-color: white;
  width: 100%;
  border: 1px solid #E1E1E1;
  border-radius: 0 0 0.25rem 0.25rem;
}

#autocomplete .hit {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: black;
  height: 60px;
  padding: 10px;
}

#autocomplete .hit:hover {
  background-color: #f6f6f6;
}

#autocomplete .authors {
  margin-left: 5px;
  color: grey;
  font-size: 12px;
}

.team-member img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 10px;
}

@media (min-width: 768px) {
  .collapse.dont-collapse-md {
    display: block;
    height: auto !important;
    visibility: visible;
  }
}

.btn-genre {
  font-weight: 400;
  font-size: 20px;
  line-height: 50px;
  color: #000000;
}

.btn-tag {
  background: #E1E1E1;
  border-radius: 15px;
  color: black;
}

nav.sticky-top {
  background-color: #7879F1;
}

#button-search {
  color: #7879F1;
  font-size: 24px;
  background-color: #d9ccfe;
  width: 38px;
}

#button-search img {
  width: 32px;
  height: 34px;
}

nav .container {
  display: flex;
  padding: 0.75rem 0;
  flex-direction: column;
  height: 296px;
  flex-wrap: wrap;
  justify-content: space-between;
}

/**
 * Navigation bar.
 * There are 3 different configurations (mobile, tablet, desktop).
 * All implemented using CSS so CSS is hacky.
 * Also to implement stickiness of the search bar we need to
 * affect its parent element (and specify top value to offset it)
 */

nav .logo-title {
  height: 100%;
  display: block;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 50%;
  padding: 0 0.75rem;
}

nav .logo-title .logo {
  flex-grow: 1;
}

nav .logo-title .site-title {
  margin-bottom: 5px;
}

nav .site-description {
  width: 50%;
}

nav .controls {
  display: flex;
  align-items: center;
  width: 50%;
  gap: 0.75rem;
}

nav .controls .buttons {
  display: flex;
  flex-direction: row;
  width: 60%;
  justify-content: space-between;
}

nav .controls .search-container {
  width: 40%;
}

nav .buttons .nav-item:hover {
  background-color: #6465EC;
  border-radius: 5px;
}

.buttons .nav-link {
  text-align: center;
}

.buttons .nav-item {
  flex-grow: 1;
}

@media (min-width: 1200px) {
  nav .container {
    height: 265px;
  }
}

@media (min-width: 1400px) {
  nav .container {
    height: 245px;
  }
}

@media (max-width: 991.98px) {
  nav .container {
    flex-direction: row;
    height: auto;
  }

  nav .controls {
    width: 100%;
  }

  nav .controls .buttons {
    justify-content: space-evenly;
    width: 50%;
  }

  nav .controls .search-container {
    width: 50%;
  }
}

@media (max-width: 575.98px) {
  nav .container {
    flex-direction: column;
    padding: 0 0.75rem 0.75rem 0.75rem;
  }

  nav .logo-title {
    width: 100%;
    margin-bottom: 0.75rem;
  }

  nav.main-page .logo-title {
    margin-bottom: 2rem;
  }

  nav .logo-title .logo {
    width: 100px;
    height: 100px;
  }

  nav .site-description {
    width: 100%;
  }

  nav .show-on-main {
    display: none;
  }

  nav.main-page .show-on-main {
    display: block;
  }

  nav .controls {
    flex-direction: column;
  }

  nav .controls .buttons {
    justify-content: space-evenly;
    width: 100%;
  }

  nav .controls .search-container {
    width: 100%;
  }
}

.book {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.book a {
  text-decoration: none;
  color: black;
  transition: all 0.2s ease;
  padding: 1rem;
}

.book a:hover,
.book a:active {
  transform: scale(1.1);
  background-color: #390281;
  color: white;
}

.book img {
  width: 10rem;
  height: 10rem;
  object-fit: cover;
  border-radius: 10%;
}

.book h3 {
  margin: 0.25rem 0;
}

.book time {
  color: #666666;
  margin: 0.25rem;
  font-style: italic;
  font-size: 0.85rem;
}

.book:hover time,
.book:active time {
  color: white;
}

.btn-genre[aria-expanded="true"] .bi-chevron-down,
.btn-genre[aria-expanded="false"] .bi-chevron-up {
  display: none;
}

#books,
#content,
#birthdays {
  background-color: white;
  padding: 2rem;
  border-radius: 10px;
  /* width: 85%; */
  margin: 2rem auto 2rem auto;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.15);
}

#books h6 {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: black;
}

#books h7 {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: #7879F1;
}

#books p {
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 18px;
  color: #848484;
}

#books .tag {
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 34px;
}

#books ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: row wrap;
  gap: 1rem;
}

article li {
  margin-bottom: 0.5rem;
}

#books li {
  flex: 1;
}


.tag {
  font-weight: normal;
  font-size: 18px;
  line-height: 20px;
  color: #000000;
  padding: 0.6rem 0.75rem;
  display: inline-block;
  cursor: pointer;
  width: 100%;
}

.catalog-title h1 {
  font-weight: 600;
  font-size: 28px;
}

.tag-selected,
.tag-selected i.bi::before {
  font-weight: 600 !important;
  color: #7879F1;
}

.books-text {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #8774FF;
}

article section {
  margin-top: 2rem;
}

article h1 {
  margin-bottom: 1rem;
}

article .CodeMirror {
  border: 1px solid #eee;
  height: auto;
}

.link-type-availability {
  color: #848484;
  display: block;
  font-size: 15px;
}

#birthdays .card .card-img-top {
  width: 100px;
  height: 100px;
}

#birthdays .card {
  display: inline-block;
}