@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500&display=swap');

html {
  font-family: 'Montserrat', sans-serif;
}

body {
  background-color: #E1E1E1;
}

h1,
h2,
h3 {
  font-family: 'Montserrat', sans-serif;
}

/* .card-img-150{
  width: 150!important;
  height: 150!important;
  object-fit: cover;
} */

.card-img-150 {
  width: 150px!important;
  height: 150px!important;
  object-fit: cover;
  }

.photo {
  width: 275px;
  height: 275px;
  object-fit: cover;
  }


#footer {
  text-align: center;
  padding: 3rem;
  background-color: #7879F1;
  margin-top: 5rem;
}

#footer h2 {
  font-size: 3rem;
}

#footer p {
  font-size: 1.5rem;
  color: #353535;
}

.author {
  font-style: normal;
  color: black
}
.title {
  font-style: normal;
  font-weight: bold;
  color: black
}

.cover {
  width: 500px;
  height: 500px;
  background-size: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 60;
}

.cover.small {
  width: 150px;
  height: 150px;
  background-size: 150px;
  font-size: 30;
}

.cover>div {
  width: 83%;
  text-align: center;
  box-sizing: border-box;
  color: black;
}

.separator {
  height: 3%;
}

.upper-half {
  height: 45%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding-bottom: 3%;
}

.lower-half {
  height: 51%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  font-weight: bold;
  padding-top: 3%;
  text-transform: uppercase;
}