body {
    background-color: #e7e7e7;
  }
  
  span {
    color: #7879F1;;
  } 

  .btn-tag {
    background: #E1E1E1;
    border-radius: 15px;
    color: black;
    /* width: 100px; */
    /* height: 30px;  */
  }