.book {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  .book a {
    text-decoration: none;
    color: black;
    transition: all 0.2s ease;
    padding: 1rem;
  }
  
  .book a:hover,
  .book a:active {
    transform: scale(1.1);
    background-color: #390281;
    color: white;
  }
  
  .book img {
    width: 10rem;
    height: 10rem;
    object-fit: cover;
    border-radius: 10%;
  }
  
  .book h3 {
    margin: 0.25rem 0;
  }
  
  .book time {
    color: #666666;
    margin: 0.25rem;
    font-style: italic;
    font-size: 0.85rem;
  }
  
  .book:hover time,
  .book:active time {
    color: white;
  }