{% extends 'base.html' %}
{% load static %}
{% load books_extras %}

{% block title %}Артыкулы{% endblock title %}
{% block og_title %}Артыкулы{% endblock og_title %}

{% block description %}
Артыкулы на каля-аўдыякніжную тэму.
{% endblock description %}

{% block content %}
<div class="container" id="content">
    <h1>Артыкулы</h1>

    <ul>
        {% for article in articles %}
        <li>
            <h3><a href="{% url 'single-article' article.slug %}">{{ article.title }}</a>
                <h3>
        </li>
        {% endfor %}
    </ul>

</div>
{% endblock content %}