{% extends 'base.html' %}
{% load static %}
{% load books_extras %}

{% block title %}{{ article.title }}{% endblock title %}
{% block og_title %}{{ article.title }}{% endblock og_title %}

{% block description %}{{ article.short_description }}{% endblock description %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12 col-md-3 mt-1 mt-md-5">

            <button class="btn hidden visible-xs d-block d-md-none btn-genre" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseGenre" aria-expanded="false" aria-controls="collapseGenre">
                Артыкулы <i class="bi bi-chevron-down"></i><i class="bi bi-chevron-up"></i>
            </button>


            <div class="collapse dont-collapse-md" id="collapseGenre">
                <ul class="list-unstyled">
                    {% for article_in_list in all_articles %}
                    <li>
                        <a class="text-decoration-none text-start tag {% if article_in_list.title == article.title %}tag-selected{% endif %}"
                            href="{% url 'single-article' article_in_list.slug %}">
                            {{ article_in_list.title }}
                        </a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>

        <div class="col-12 col-md-9 mt-1 mt-md-5" id="content">
            <h1>{{ article.title }}</h1>

            {% block article_content %}{% endblock article_content %}
        </div>
    </div>
</div>
{% endblock content %}