{% extends 'books/articles/article.html' %}
{% block article_content %}

<ul>
  <li><a href="#why-data-json">Навошта data.json?</a>
  <li><a href="#schema">Схема data.json</a>
  <li><a href="#conditions">Умовы карыстання</a>
</ul>

<p>
  audiobooks.by - самы поўны каталог беларускіх аўдыякніг. У дадатак да зручнага вэб-інтэрфейса наш каталог кніг можна
  атрымаць у структураваным <a href="https://developer.mozilla.org/en-US/docs/Learn/JavaScript/Objects/JSON"
    target="_blank">JSON</a> фармаце па спасылцы:
</p>

<a href="https://audiobooks.by/data.json" target="_blank">https://audiobooks.by/data.json</a>

<section id="why-data-json">
  <h2>Навошта data.json?</h2>

  <p>
    data.json будзе карысны, калі вы хочаце стварыць свой уласны сайт ці праграму, альбо інтэграваць аўдыякнігі ва
    ўжо існуючы сайт. Замест таго, каб парсіць старонкі audiobooks.by, мы прадстаўляем адмысловы файл.
  </p>
  <p>
    Таксама файл можа быць выкарыстаны, каб зрабіць аналіз беларускіх аўдыякніг. Напрыклад, знайсці аўдыякнігу з
    найбольшай колькасцю агучак:
  </p>
  <pre>
// run from devtools on data.json page
const data = JSON.parse(document.body.innerText);
data.books.reduce((a, b) => a.narrations.length > b.narrations.length ? a : b);
</pre>

</section>


<section id="schema">
  <h2>Схема data.json</h2>

  <p>
    Ніжэй мы апісваем схему файла з дапамогай TypeScript сінтаксіса. Але майце на ўвазе, што бягучая схема можа не
    супадаць з тым, што ніжэй. Таму самы надзейны спосаб — гэта адкрыць data.json і паглядзець.
  </p>


  <pre>
interface Data {
  books: Book[];
  people: Person[];
  link_types: LinkType[];
  tags: Tag[];
}

interface Book {
  uuid: string;
  title: string;
  cover_image: string|null;
  cover_image_source: string;
  data: string;
  description: string;
  description_source: string;
  slug: string;
  // list of Person.uuid
  authors: string[];
  // list of Person.uuid
  translators: string[];
  narrations: Narrations[];
  // list of Tag.id
  tags: number[];
}

interface Narration {
  // list of Person.uuid
  narrators: string[];
  links: Links[];
  duration: number;
}

interface Link {
  url: string;
  // list of LinkType.id
  url_type: number;
}

interface Person {
  uuid: string;
  name: string;
  description: string;
  description_source: string;
  photo: string|null;
  photo_source: string;
  slug: string;
  gender: string;
}

interface LinkType {
  id: number;
  name: string;
  caption: string;
  icon: string;
}

interface Tag {
  id: number;
  name: string;
  slug: string;
}
    </pre>
</section>

<section id="conditions">
  <h2>Умовы выкарыстання</h2>

  <p>
    Пры выкарыстанні data.json спасылацца на audiobooks.by не абавязкова, але пажадана. Нам будзе прыемна ведаць,
    што плён нашай працы карысны іншым.
  </p>
  <p>
    data.json аднаўляецца штогадзінна.
  </p>
  <p>
    Калі ёсць пытанні — пішыце на contact@audiobooks.by.
  </p>
</section>
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.11/codemirror.min.js"
  integrity="sha512-rdFIN28+neM8H8zNsjRClhJb1fIYby2YCNmoqwnqBDEvZgpcp7MJiX8Wd+Oi6KcJOMOuvGztjrsI59rly9BsVQ=="
  crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.11/codemirror.min.css"
  integrity="sha512-uf06llspW44/LZpHzHT6qBOIVODjWtv4MxCricRxkzvopAlSWnTf6hpZTFxuuZcuNE9CBQhqE0Seu1CoRk84nQ=="
  crossorigin="anonymous" referrerpolicy="no-referrer" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.11/mode/javascript/javascript.min.js"
  integrity="sha512-Cbz+kvn+l5pi5HfXsEB/FYgZVKjGIhOgYNBwj4W2IHP2y8r3AdyDCQRnEUqIQ+6aJjygKPTyaNT2eIihaykJlw=="
  crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
  for (const code of document.querySelectorAll('pre')) {
    new CodeMirror((el) => code.parentElement.replaceChild(el, code), {
      value: code.textContent.trim(),
      mode: 'text/typescript',
    });
  }
</script>

{% endblock article_content %}