{% extends 'books/articles/article.html' %}
{% block article_content %}

<p>Гэты гайд распавядае пра тое, як лепей распаўсюдзіць аўдыякнігу на беларускай мове.</p>

<p>Калі ў вас ужо ёсць запісаная кніга, мажліва, вы думаеце, у якім фармаце яе лепей прапанаваць шырокай публіцы?
    Трэба памятаць, што аўдыякнігі адрозніваюцца ад музыкі, і для камфортнага праслухоўвання патрабуецца адмысловае
    прыкладанне. Акрамя функцыі прайгравання файлаў, яно павіннае ўмець:

<ul>
    <li> запамінаць пазіцыю праслухоўвання;</li>
    <li> мяняць хуткасць праігравання; часта кнігі зручней слухаць з хуткасцю 1.5х альбо 2х (у залежнасці ад кнігі
        і
        персанальнага густу).
    <li> запускаць праслухоўванне ў аўтаномным рэжыме.
</ul>
</p>
<p>
    Таксама трэба прыняць рашэнне, ці выкладаць кнігу платна, ці бясплатна. Улічвайце, што платныя кнігі
    абмяжоўваюць дыяпазон пляцовак.
</p>

<p>
    Вось колькі спосабаў:
</p>

<ul>
    <li><a href="#mp3-files">MP3 файлы</a>
    <li><a href="#youtube">YouTube</a>
    <li><a href="#soundcloud">SoundCloud</a>
    <li><a href="#podcasts">Падкасты</a>
    <li><a href="#knizhny-voz">Кніжны Воз</a>
    <li><a href="#audiobooks-stores">Крамы аўдыякніг</a>
    <li><a href="#what-is-the-best">Дзе ж лепей?</a>
</ul>


<section id="mp3-files">
    <h2>MP3 файлы</h2>

    <p>
        Сама просты спосаб - выкласці mp3 файлы ў любым куточку інтэрнэта. Ахвочыя могуць слухаць файлы ў браўзеры альбо
        спампаваць іх і выкарыстоўваць прыкладанне для аўдыякніг.
    </p>

    <p>
        У гэтага спосаба ёсьць істотны мінус - ён вымагае шмат працы ад карыстальніка: спампаваць дзясяткі файлаў,
        скласьці іх у папку ды імпартаваць у прыкладанне зойме пэўны час, што можа адштурхнуць частку слухачоў.
    </p>

    <p>
        Тым ня менш, гэткім чынам выкладзеныя кнігі на <a href="https://knihi.com/audyjoknihi.html">Беларускай
            Палічцы</a>, <a href="https://kamunikat.org/audyjoknihi.html">Камунікаце</a> і <a
            href="https://drive.google.com/corp/drive/folders/16K_KE8DAcBiuBjQSlsM29ypw-X5Fbq5F">гугл-дыску
            Мінінафарма</a>.
    </p>
    <p>
        Зразумела, кнігі выкладаюцца бясплатна.
    </p>
</section>

<section id="youtube">
    <h2>YouTube</h2>

    <p>
        Кнігу таксама можна выкласці ў YouTube - альбо адным відэа, альбо разбіць на колькі частак ды зрабіць плэйліст.
        Гэта, магчыма, найбольш проста для слухача - бо практычна кожны мае доступ да ютуба. Таксама YouTube
        падтрымлівае функцыю змены хуткасці праігравання і запамінае месца праігравання.
    </p>

    <p>Мінусы:
    <ul>
        <li> кнігі магчыма слухаць толькі пры адкрытым прыкладанні (а гэта значыць, не атрымаецца зрабіць гэта на хадзе,
            калі зручна трымаць тэлефон у кішэні);
        <li> афіцыйна забаронена спампоўваць кнігі, калі толькі карыстальнік ня мае YouTube Premium (даволі мала з
            беларускіх слухачоў маюць YouTube Premium).
    </ul>
    </p>

    <p>На ютуб выкладаюць кнігі <a
            href="https://www.youtube.com/playlist?list=PLI3T55UbPCOgFeq1xqnWn_3b3CTOfO8d-">Купалаўцы</a> і
        <a href="https://www.youtube.com/channel/UCFmDDVJHMcpckebAxQ0iziQ">БЛР#Аўдыякніга.</a>
    </p>

    <p>
        Прыемна адзначыць, што YouTube можа плаціць за прагляды відэа. Але, на нашую думку, сума будзе невялікай:
        YouTube арыентаваны на больш частыя прагляды больш кароткіх відэа вялікай колькасцю людзей.
    </p>
</section>

<section id="soundcloud">
    <h2>SoundCloud</h2>

    <p>
        Аўдыяфайлы выкладаюцца на платформу SoundCloud, прызначаную адмыслова для праслухоўвання гукавай інфармацыі, і
        затым збіраюцца ў плэйліст.
    </p>

    <p>Мінусы:
    <ul>
        <li>
            SoundCloud арыентаваны на музыку, таму ён не запамінае месца праігравання файла.
        <li>Няма магчымасці кантраляваць хуткасць.
        <li> Каб выкласці кнігу, што прайграецца даўжэй за тры гадзіны, трэба набываць Pro Unlimited акаўнт, які каштуе
            15$/месяц.
    </ul>
    </p>

    <p>
        Гэтым спосабам выкладаюць кнігі <a href="https://soundcloud.com/svaboda/sets">"Радыё Свабода"</a> і <a
            href="https://soundcloud.com/pencentre_by">Беларускі ПЭН-цэнтр</a>.
    </p>
    <p>
        Кнігі слухаюць бясплатна, але з рэкламай. І нават атрымліваць з гэтага нейкі прыбытак.
    </p>
</section>

<section id="podcasts">
    <h2>Падкасты</h2>

    <p>
        Падкасты вельмі падобныя да аўдыякніг, а прыкладанні для падкастаў, у сваю чаргу, маюць функцыі, патрэбныя
        для праслухоўваньня аўдыякніг. З падкастаў карыстаецца вялікая колькасьць людзей, таму, калі зрабіць кнігу
        даступнай на буйных падкаст-пляцоўках, слухачы змогуць лёгка знайсці яе ў адпаведным прыкладанні.
    </p>

    <p>
        Мінус падкастаў - яны патрабуюць больш працы для выкладання кнігі.
    </p>


    <p>
        Падчас публікацыі галоўнае выбраць, дзе размяшчаць файлы. Звычайна падкаст-хостэры платныя. Але ёсць і
        бясплатныя - напрыклад, <a href="https://anchor.fm">anchor.fm</a>. Таксама мы хосцім некаторыя аўдыякнігі ў
        падкастах. Можам дапамагчы з хосцінгам вашай кнігі - для гэтага напішыце нам на contact@audiobooks.by.
    </p>

    <p>
        Кнігі выкладаюцца бясплатна.
    </p>
</section>

<section id="knizhny-voz">
    <h2>Кніжны Воз</h2>

    <p>
        <a href="https://knizhnyvoz.com">Кніжны Воз</a> - адмысловы праэкт, які запісвае аўдыякнігі на беларускай мове,
        пераважна для дзіцей і падлеткаў. Мае ўласнае прыкладанне для праслухоўвання кніг.
    </p>

    <p>
        Калі Вы ня супраць выкласці сваю працу бясплатна - напішыце Кніжнаму Возу, напрыклад, праз <a
            href="https://facebook.com/knizhnyvoz/">Facebook</a>.
    </p>
</section>

<section id="audiobooks-stores">
    <h2>Крамы аўдыякніг</h2>

    <p>
        Асноўны варыянт распаўсюджвання камерцыйных аўдыякніг - праз адмысловыя крамы: Audible, Bookmate, ЛитРес,
        Kobo і г.д.
    </p>

    <p>
        Галоўная праблема гэтага спосаба - крамы звычайна працуюць з буйнымі выдавецтвамі альбо дыстрыб’ютарамі,
        выкласці кнігу індывідуальна немагчыма. Другая праблема палягае акурат у тым, што няшмат крамаў падтрымліваюць
        беларускую мову.
    </p>

    <p>
        На дадзены момант мы знайшлі толькі адзін спосаб выкласці індывідуальныя кнігі ў крамы аўдыякніг - праз
        дыстрыб'ютар <a href="https://findawayvoices.com">Findaway Voices</a>. Вы запампоўваеце кнігу на ягоны сайт, а
        пасьля яе дасылаюць у розныя крамы.
    </p>

    <p>
        На дадзены момант праз Findaway Voices кнігі на беларускай мове трапілі толькі ў тры крамы: <a
            href="https://www.kobo.com/by/en/audiobook/P58pidoaHz-teOB3nZ-xeQ">Kobo</a>, <a
            href="https://ru.bookmate.com/audiobooks/fjIWkhvS">Bookmate</a> і
        <a
            href="https://play.google.com/store/audiobooks/details/%D0%90%D0%BB%D1%8C%D0%B3%D0%B5%D1%80%D0%B4_%D0%91%D0%B0%D1%85%D0%B0%D1%80%D1%8D%D0%B2%D1%96%D1%87_%D0%90%D0%BF%D0%BE%D1%88%D0%BD%D1%8F%D1%8F_%D0%BA%D0%BD%D1%96%D0%B3%D0%B0_%D0%BF%D0%B0%D0%BD%D0%B0_%D0%90?id=AQAAAED80XCRnM">Google
            Play Books</a>. Сайт дазваляе прызначаць цану кнігі або зрабіць яе бясплатнай.
    </p>


    <p>
        Каб выкласці кнігу, трэба стварыць акаўнт - а падчас рэгістрацыі давядзецца падаваць звесткі ў тым ліку і
        пра падаткі. Мы не спрабавалі, але верагодна, што стварыць акаўнт з Беларусі немагчыма. Знаходзячыся за межамі
        краіны, мы можам дапамагчы выкласці кнігу праз наш акаўнт. Пішыце нам на contact@audiobooks.by
    </p>

    <p>
        Кнігі можна выкладаць як платна, так і бясплатна.
    </p>
</section>

<section id="what-is-the-best">
    <h2>Дзе ж лепей?</h2>

    <p>
        Было бы цудоўна, каб існавала адзінае мабільнае прыкладанне, на якім сабраныя ўсе беларускія аўдыякнігі. Але
        ў рэальнасці гэта наўрад ці адбудзецца.
    </p>

    <p>
        Беларусы сёння жывуць паўсюль: ня толькі на радзіме, але таксама ў розных краінах Еўропы, Амерыкі, Азіі...
        Кожны карыстальнік сутыкаецца з лакальнымі прыкладаннямі. Таму выдаўцы аўдыякніг мусяць выпускаць сваю прадукцыю
        максымальна даступнай, для як мага большай колькасці пляцовак.
    </p>

    <p>
        Бясплатныя кнігі мы рэкамендуем выкладаць у падкасты, але таксама і ў крамы аўдыякніг. Платная ж - выключна
        ў крамы аўдыякніг.
    </p>

    <p>
        Паколькі гэты гайд створаны з персанальнага досведу, хутчэй за ўсё, мы маглі прапусціць якія іншыя пляцоўкі
        ці шляхі распаўсюджвання аўдыякніг. Вы хаціце нешта дадаць ці выправіць? Калі ласка, напішыце нам на
        contact@audiobooks.by.
    </p>
</section>
{% endblock article_content %}